.contacts__container {
  box-sizing: border-box;
  max-width: 540px;
  width: 100%;
  background: #66c05d;
  padding: 35px 40px;
  color: #ffffff;
  text-align: start;
}

@media screen and (max-width: 550px){
  .contacts__container {
    flex-direction: column;
    align-items: center;
  }
}
