.footerDiv__button {
  background: #ffffff;
  border: 2px solid #66c05d;
  padding: 12px 27px;
  border-radius: 40px;
  transition: 0.2s;
  cursor: pointer;
}

.footerDiv__button:hover {
  opacity: 0.6;
}
