@import url("../vender/normalize.css");
@import url("../componenets/width/width.css");
@import url("../componenets/flex/flex.css");
@import url("../componenets/flex/flex_direction_column/flex_direction_column.css");
@import url("../componenets/flex/flex_position/flex_position_center.css");
@import url("../componenets//flex/flex_position/flex_position_spaceBetween.css");
@import url("../componenets/ul/ul.css");
@import url("../componenets/ul/ul_view_noDot/ul_view_noDot.css");
@import url("../componenets/ul/ul_position_noMargin/ul_position_noPadding.css");
@import url("../componenets/headerDiv/headerDiv.css");
@import url("../componenets/nav/nav.css");
@import url("../componenets/nav/nav_link/nav_link.css");
@import url("../componenets/nav/nav_links/nav_links.css");
@import url("../componenets/headerDiv/headerDiv__container/headerDiv__container.css");
@import url("../componenets/logo/logo.css");
@import url("../componenets/headerDiv/headerDiv__span/headerDiv__span.css");
@import url("../componenets/headerDiv/headerDiv__button/headerDiv__button.css");
@import url("../componenets/headerDiv/headerDiv__list/headerDiv__list.css");
@import url("../componenets/headerDiv/headerDiv__elemList/headerDiv__elemList.css");
@import url("../componenets/headerDiv/headerDiv__callBack/headerDiv__callBack.css");
@import url("../componenets/mainImage/mainImage.css");
@import url("../componenets/mainImage/mainImage__title/mainImage__title.css");
@import url("../componenets/mainImage/mainImage__description/mainImage__description.css");
@import url("../componenets/mainImage/mainImage__link/mainImage__link.css");
@import url("../componenets/goods/goods.css");
@import url("../componenets/goods/goods__wrapper/goods__wrapper.css");
@import url("../componenets/goods/goods__title/goods__title.css");
@import url("../componenets/goods/goods__container/goods__container.css");
@import url("../componenets/goods/goods__item/goods__item.css");
@import url("../componenets/goods/goods__image/goods__image.css");
@import url("../componenets/goods/goods__description/goods__description.css");
@import url("../componenets/goods/goods__price/goods__price.css");
@import url("../componenets/goods/goods__button/goods__button.css");
@import url("../componenets/contacts/contacts.css");
@import url("../componenets/contacts/contacts__wrapper/contacts__wrapper.css");
@import url("../componenets/contacts/contacts__wrapper/contacts__wrapper_right.css");
@import url("../componenets/contacts/contacts__wrapper/contacts__wrapper_left.css");
@import url("../componenets/contacts/contacts__container/contacts__container.css");
@import url("../componenets/contacts/contacts__description/contacts__description.css");
@import url("../componenets/contacts/contacts__title/contacts__title.css");
@import url("../componenets/contacts/contacts__input/contacts__input.css");
@import url("../componenets/contacts/contacts__button/contacts__button.css");
@import url("../componenets/contacts/contacts__letterImg/contacts__letterImg.css");
@import url("../componenets/footerDiv/footerDiv.css");
@import url("../componenets/footerDiv/footer/footerDiv__footer.css");
@import url("../componenets/footerDiv/footerDiv__link/footerDiv__link.css");
@import url("../componenets/footerDiv/footerDiv__mainContainer/footerDiv__mainContainer.css");
@import url("../componenets/footerDiv/footerDiv__links/footerDiv__links.css");
@import url("../componenets/footerDiv/footerDiv__adresse/footerDiv__adresse.css");
@import url("../componenets/footerDiv/footerDiv__container/footerDiv__container.css");
@import url("../componenets/footerDiv/footerDiv__button/footerDiv__button.css");
@import url("../componenets/footerDiv/footerDiv__button/footerDiv__button.css");
@import url("../componenets/footerDiv/footerDiv__commentContainer/footerDiv__commentContainer.css");
@import url("../componenets/footerDiv/footerDiv__comment/footerDiv__comment.css");
body {
  text-align: center;
  font-family: 'Roboto', 'Arial', sans-serif;
}

#bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerDiv {
  position: relative;
  top: 0;
  width: 100%;
}

#mainDiv {
  width: 100%;
}

#footerDiv {
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #bodyDiv {
    padding: 10px;
  }
}